html,
body {
  margin: 0;
  padding: 0;
  min-width: 350px;
  font: menu;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 5px;
  font-size: 1.4em;
  vertical-align: middle;
  color: #444;
}

h1 img{
  vertical-align: middle;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0;
  color: #666;
}

p {
  margin: .1em;
}

a:link, a:visited {
  color: #e2e6e7;
  text-decoration: none;
}

a:hover, a:active {
  color: #e2e6e7;
  text-decoration: underline;
}

.app-container {
  position: absolute;
  height: 100%;
  width: 350px;
  background-color: #1f2023;
/*  border: 3px solid #2c8992;  */
}

.dash-container {
  background-color: #1f2023;
/*  position: fixed;
  bottom: 0;
  left: 0;
  width: auto; */
}

#dash-content {
/*  display: none; */
  height: 0;
  width: 0;
}

.content-main {
/*  border: 3px solid #2c8992; */
  position: absolute;
  top: 90px; /* Header Height */
  bottom: 280px; /* Footer Height */
  width: 100%;
}

.content-dynamic {
/*  border: 3px solid #ff4237; */
  position: absolute;
  bottom: 30px;
  height: 240px;
  width: 350px;
  padding: 5px 5px 5px 5px;
}

.dynamic-portal {
  background: url('./images/spiral-static.png') no-repeat 0 0, center;
  height: 240px;
  width: 340px;
}

.menu-top {
  position: relative;
/*  border: 3px solid #247724; */
}

.menu-top-left {
  display: inline-block;
  margin: 6px 5px 5px 5px;
/*  border: 3px solid #247724; */
/*  border: 3px solid #8AC007;  */
}

.menu-top-right {
  position: absolute;
  top: 0;
  right: 0;
/*  border: 3px solid #8AC007;  */
}

.menu-bottom {
  position: absolute;
  bottom: 0;
  width: 350px;
/*  border: 3px solid #247724;  */
}

.menu-bottom-left {
/*  border: 3px solid #8AC007; */
}

.menu-bottom-right {
  position: absolute;
  top: 0;
  right: 0;
/*  border: 3px solid #8AC007; */
}

.menu-item {
  display: inline-block;
  text-align: center;
  padding: 5px 5px;
/*  border: 2px solid #89ff72; */
}

.menu-item:hover {
  opacity: 0.7;
  background-color: #404040;
}

.menu-item:active, .menu-item:visited {
  background-color: #707070;
}

.div.menu-item::-moz-selected { /* Code for Firefox */
  background-color: #707070;
}

.menu-btn {
  color: #000;
  opacity: .5;
}

.menu-btn:hover{
  opacity: 1;
  text-decoration: none;
}

.search {
  background: url('./images/search.png') no-repeat 4px 10px;
  background-color: #828282;
  vertical-align: middle;
  height: 40px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px 5px 0 0;
}

.search-entry {
  position: relative;
  left: 30px;
  top: 8px;
  width: 350px;
  background-color: #828282;
  color: #1f2023;
  border:0px solid #828282;
  font-size: 1.2em;
}

#prefs-label {
/*  background: url('./images/prefs.png') no-repeat 2px 2px; */
}

#task-label {
  background-color: #828282;
}

#user-label {
/*  background: url('./images/user.png') no-repeat 2px 2px; */
}

#task-content {
}

#list-content {
  display: none;
}

#cal-content {
  display: none;
  height: 350px;
  width: 340px;
  margin: 5px 5px 5px 5px;
}

#prefs-content {
  display: none;
}

.info {
  font-weight: bold;
  color: #e2e6e7;
}

.desc {
  opacity: .7;
}
.location{
  opacity: .6;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list li {
  padding: 6px;
  margin: 5px 5px 5px 5px;
}

.list li:nth-child(4n+1) {
  border-left: 5px solid #e8c25b;
  background-color: #3794c4;
}

.list li:nth-child(4n+2) {
  border-left: 5px solid #e8c25b;
  background-color: #e8c25b
}

.list li:nth-child(4n+3) {
  border-left: 5px solid #984747;
  background-color: #984747
}
.list li:nth-child(4n) {
  border-left: 5px solid #f1e9b4;
  background-color: #f1e9b4
}

.spacing {
  text-transform: uppercase;
  opacity: .7;
  color: #E06149;
  margin-right: 1em;
  font-size: .7em;
}

.banner {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
}

.banner:hover {
  width: 300px;
}

@-moz-keyframes loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader{
  -moz-animation: loader 1250ms infinite linear;
  -webkit-animation: loader 1250ms infinite linear;
  animation: loader 1250ms infinite linear;
  border: 3px solid #ccc;
  border-right-color: transparent;
  border-radius: 16px;
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  margin: 1em auto;
}
