body {
    background-color: #1f2023;
    font-family: "Arial Black", Gadget, sans-serif;
}

h1 {
    color: #cccccc;
    font-size: 2.4em;
}

.glossary {
    color: #98f233;
    margin: 0;
    padding: 5px;
    vertical-align: middle;
}

.glossary h2 {
    color: #cccccc;
    font-size: 1.8em;
}

.glossary h3 {
    color: #cccccc;
    font-size: 1.4em;
    padding: 5px 5px 5px 30px;
}

.glossary p {
    color: #8eee8e;
    font-size: 1.0em;
    padding: 5px 5px 5px 50px;
}
