/**---------------------------------------------------------------------------*/
/**                       Copyright © 2015 ipoogi.com                         */
/**                                                                           */
/** This is the dark theme style sheet for the Electron application for the   */
/** dfp (desktop focal point) application. The dfp is the desktop client      */
/** application for integrating the user's workflows into the QMS back end.   */
/*----------------------------------------------------------------------------*/
/** Revision history:                                                         */
/** Ver By                Date        CC   Revision Note                      */
/** 1   David Paspa       30-Aug-2015 NA   Initial design.                    */
/**---------------------------------------------------------------------------*/

/**---------------------------------------------------------------------------*/
/** Main application window:                                                  */
/**---------------------------------------------------------------------------*/
html,
body {
  background-color: #1e1e1e;
  color: #787878;
}

h1 {
  color: #787878;
}

h2 {
  color: #787878;
}

a:link, a:visited {
  color: #7d7f80;
}

a:hover, a:active {
  color: #7d7f80;
}

.app-container {
  background-color: #1f2023;
}

.div.menu-icon::-moz-selected { /* Code for Firefox */
  background-color: #707070;
}

.div.menu-item::-moz-selected { /* Code for Firefox */
  background-color: #707070;
}


/*
.menu-btn {
  color: #787878;
  opacity: .8;
}
*/

.menu-btn:hover {
  opacity: 0.9;
  color: #dddddd;
  text-decoration: none;
}

.menu-icon:hover {
  opacity: 0.9;
  background-color: #898989;
}

.menu-icon:active, .menu-icon:visited {
  background-color: #707070;
}

.menu-item:hover {
  opacity: 0.9;
  background-color: #494949;
}

/*
.menu-item:active, .menu-item:visited {
  background-color: #707070;
}
*/

.activeLabel {
  background-color: #828282;
}

.activeLabel a {
  color: #111111;
}

/**---------------------------------------------------------------------------*/
/** Chat area:                                                                */
/**---------------------------------------------------------------------------*/
/*
#chat-form { 
  background-color: #9b9b9b; 
}
*/

#chat-form button { 
  background-color: #006699;
  color: #b7e7ff;
}

.chatInternal {
  background-color: #c7ff8f;
  color: #366c00;
}

.chatExternal {
  background-color: #ffc1e0;
  color: #8e0047;
}
 
.chatSupport {
  background-color: #abecfb;
  color: #087e9a;
}

.chatClose {
  background-color: #006699;
  color: #b7e7ff;
}

#messages li:nth-child(odd) {
  background: #bbbbbb; 
}

/**---------------------------------------------------------------------------*/
/** Do, Check and Act context settings:                                       */
/**---------------------------------------------------------------------------*/
/*
.list-task li {
  background-color: #4e5a65;
}
*/

.list-task li:nth-child(odd) {
  background-color: #494949;
}

.list-task li:nth-child(odd):.info, .location, .desc {
  color: #868686;
}

.list-task li:nth-child(even) {
  background-color: #363636;
}

.list-task li:nth-child(even):.info, .location, .desc {
  color: #888888;
}

.list-task li:nth-child(1) {
  background-color: #c41010;
}

.list-task li:nth-child(1) p {
  color: #dc9e9c;
}

.list-task li:nth-child(1) a:link, 
.list-task li:nth-child(1) a:visited {
  color: #fcbebc;
  font-weight: bold;
}

.list-task li:nth-child(1) a:hover {
  color: #dddddd;
}

.list-task li:nth-child(2) {
  background-color: #df7001;
}

.list-task li:nth-child(2) p {
  color: #ffcb97;
}

.list-task li:nth-child(2) a:link, 
.list-task li:nth-child(2) a:visited {
  color: #ffcb97;
  font-weight: bold;
}

.list-task li:nth-child(2) a:hover {
  color: #dddddd;
}


/*
.list-task li:nth-child(1) a:link {
  color: #dc9e9c;
}

.list-task li:nth-child(1) a:visited {
  color: #dc9e9c;
}

.list-task li:nth-child(1) a:hover {
  color: #ffffff;
}
*/

.list-task li:nth-child(odd) a:active {
  color: #ffffff;
}

.list-task li:nth-child(even) a:active {
  color: #ffffff;
}

.list-task li:nth-child(1) a:active {
  color: #ffffff;
}

.list-task li:nth-child(2) a:active {
  color: #ffffff;
}

.progress {
    background-color: #228a22;
}

/**---------------------------------------------------------------------------*/
/** Plan and List context settings:                                           */
/**---------------------------------------------------------------------------*/
.list li {
  background-color: #4e5a65;
}

.list li:nth-child(even) {
  background-color: #353637;
  color: #888888;
}

.list li:nth-child(odd) {
  background-color: #2a2b2e;
  color: #868686;
}

/**---------------------------------------------------------------------------*/
/** Search box:                                                               */
/**---------------------------------------------------------------------------*/
.search {
  background-color: #9b9b9b;
}

.search-entry {
  background-color: #9b9b9b;
  color: #4b4b4b;
}

/**---------------------------------------------------------------------------*/
/** Hamburger menu:                                                           */
/**---------------------------------------------------------------------------*/
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  background-color: #787878;
}

#nav-toggle.active span {
  background-color: transparent;
}

/* back, initially hidden pane */
.back {
    background-color: #333;
}

/**---------------------------------------------------------------------------*/
/** External window menu bar:                                                 */
/**---------------------------------------------------------------------------*/
.top-menu-bar {
  background-color: #3794c4;
}

.close-window button {
  background-color: rgb(130, 224, 255); 
}
