/**---------------------------------------------------------------------------*/
/**                       Copyright © 2015 ipoogi.com                         */
/**                                                                           */
/** This is the dark theme style sheet for the Electron application for the   */
/** dfp (desktop focal point) application. The dfp is the desktop client      */
/** application for integrating the user's workflows into the QMS back end.   */
/*----------------------------------------------------------------------------*/
/** Revision history:                                                         */
/** Ver By                Date        CC   Revision Note                      */
/** 1   David Paspa       30-Aug-2015 NA   Initial design.                    */
/**---------------------------------------------------------------------------*/

/**---------------------------------------------------------------------------*/
/** Main application window:                                                  */
/**---------------------------------------------------------------------------*/
html,
body {
  background-color: #1f2023;
}

h1 {
  color: #444;
}

h2 {
  color: #888;
}

a:link, a:visited {
  color: #7d7f80;
}

a:hover, a:active {
  color: #7d7f80;
}

.app-container {
  background-color: #1f2023;
}

.div.menu-icon::-moz-selected { /* Code for Firefox */
  background-color: #707070;
}

.div.menu-item::-moz-selected { /* Code for Firefox */
  background-color: #707070;
}

.menu-btn {
  color: #000;
  opacity: .8;
}

.menu-icon:hover {
  opacity: 0.9;
  background-color: #404040;
}

.menu-icon:active, .menu-item:visited {
  background-color: #707070;
}

.menu-item:hover {
  opacity: 0.9;
  background-color: #404040;
}

.menu-item:active, .menu-item:visited {
  background-color: #707070;
}

.menu-option:hover {
  color: yellow;
  background: #ff0000;
}

.menu-option:checked {
  color: white;
  background: #00ff00;
}

/**---------------------------------------------------------------------------*/
/** Chat area:                                                                */
/**---------------------------------------------------------------------------*/
#chat-form { 
  background-color: #000; 
}

#chat-form button { 
  background-color: rgb(130, 224, 255); 
}

#chat-internal {
  background-color: #82ff98;
}

#chat-external {
  background-color: #ff8295;
}
 
#chat-support {
  background-color: #82e0ff;
}

#chat-close {
  background-color: rgb(224, 224, 224); 
}

.chat-messages {
  background-color: #c2f0c2;
}

#messages li:nth-child(odd) {
  background: #bbbbbb; 
}

/**---------------------------------------------------------------------------*/
/** Do, Check and Act context settings:                                       */
/**---------------------------------------------------------------------------*/
#do-label {
  background-color: #828282;
}

#do-label-text {
  color: #000000;
}

.info {
  color: #b2b6b7;
}

.list-task li {
  background-color: #4e5a65;
}

.list-task li:nth-child(2n+1) {
  background-color: #353637;
}

.list-task li:nth-child(2n) {
  background-color: #2a2b2e;
}

.desc {
  color: #000000;
}
.location{
  color: #000000;
}

.list-task li:nth-child(1) {
  background-color: #984747;
  color: #ffffff;
}

.list-task li:nth-child(1) a:link {
  color: #ffffff;
}

.list-task li:nth-child(1) a:visited {
  color: #ffffff;
}

.list-task li:nth-child(1) a:hover {
  color: #ffffff;
}

.list-task li:nth-child(1) a:active {
  color: #ffffff;
}

.list-task li:nth-child(2) {
  background-color: #e8c25b;
  color: #ffffff;
}

.progress {
    background-color: #005500;
}

/**---------------------------------------------------------------------------*/
/** Plan and List context settings:                                           */
/**---------------------------------------------------------------------------*/
.list li {
  background-color: #4e5a65;
}

.list li:nth-child(2n+1) {
  background-color: #353637;
}

.list li:nth-child(2n) {
  background-color: #2a2b2e;
}

.desc {
  color: #000000;
}
.location{
  color: #000000;
}

/**---------------------------------------------------------------------------*/
/** Search box:                                                               */
/**---------------------------------------------------------------------------*/
.search {
  background-color: #636363;
}

.search-container, .chunk-container {
  background-color: #636363;
  color: #828282;
}

.search-entry {
  background-color: #636363;
  color: #1f2023;
}

/**---------------------------------------------------------------------------*/
/** Hamburger menu:                                                           */
/**---------------------------------------------------------------------------*/
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  background-color: #888;
}

#nav-toggle.active span {
  background-color: transparent;
}

/* back, initially hidden pane */
.back {
    background-color: #333;
}

/**---------------------------------------------------------------------------*/
/** External window menu bar:                                                 */
/**---------------------------------------------------------------------------*/
.top-menu-bar {
  background-color: #3794c4;
}

.close-window button {
  background-color: rgb(130, 224, 255); 
}
